<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Filter</title>
    <link rel="stylesheet" href="stylesheets/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/vendor/nouislider.min.css">
    <script type="text/javascript" src="javascripts/vendor/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="javascripts/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/vendor/nouislider.min.js"></script>
  </head>
  <body>
    <div id="content"></div>
    <div id="si1" class="noUI-label"></div>
    <div id="si2" class="noUI-label"></div>
    <script type="text/javascript" src="javascripts/custom/bundle.js"></script>
  </body>
</html>
